* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1630px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.portfolio {
    margin-top: 30px;
}

.portfolio__title {
    margin-bottom: 15px;
}

.portfolio__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* list-style-type: none; */
    padding-left: 15px;
}

.portfolio__list li {}

.portfolio__list a {
    --color: #0000FF;
    --visited: #551a8b;
    --active: #ff0000;

    text-decoration: none;
    position: relative;
    color: var(--color);
}

.portfolio__list a:visited {
    color: var(--visited);
}

.portfolio__list a:active {
    color: var(--active);
}

.portfolio__list a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    right: 0;
    height: 1px;
    background: var(--color);
    transform: scale(0);
    transition: .2s;
}

.portfolio__list a:hover::before {
    transform: scale(1);
}

.portfolio__list a:visited::before {
    background: var(--visited);
}

.portfolio__list a:active::before {
    background: var(--active);
}